# BIN path
bin/bam2wig
bin/bamsorted
bin/samtools-0.1.18
bin/ttview

# BUILD files
samtools-0.1.18/bam.o
samtools-0.1.18/bam2bcf.o
samtools-0.1.18/bam2bcf_indel.o
samtools-0.1.18/bam2depth.o
samtools-0.1.18/bam_aux.o
samtools-0.1.18/bam_cat.o
samtools-0.1.18/bam_color.o
samtools-0.1.18/bam_import.o
samtools-0.1.18/bam_index.o
samtools-0.1.18/bam_lpileup.o
samtools-0.1.18/bam_mate.o
samtools-0.1.18/bam_md.o
samtools-0.1.18/bam_pileup.o
samtools-0.1.18/bam_plcmd.o
samtools-0.1.18/bam_reheader.o
samtools-0.1.18/bam_rmdup.o
samtools-0.1.18/bam_rmdupse.o
samtools-0.1.18/bam_sort.o
samtools-0.1.18/bam_stat.o
samtools-0.1.18/bam_tview.o
samtools-0.1.18/bamtk.o
samtools-0.1.18/bcftools/bcf.o
samtools-0.1.18/bcftools/bcf2qcall.o
samtools-0.1.18/bcftools/bcftools
samtools-0.1.18/bcftools/bcfutils.o
samtools-0.1.18/bcftools/call1.o
samtools-0.1.18/bcftools/em.o
samtools-0.1.18/bcftools/fet.o
samtools-0.1.18/bcftools/index.o
samtools-0.1.18/bcftools/kfunc.o
samtools-0.1.18/bcftools/kmin.o
samtools-0.1.18/bcftools/libbcf.a
samtools-0.1.18/bcftools/main.o
samtools-0.1.18/bcftools/mut.o
samtools-0.1.18/bcftools/prob1.o
samtools-0.1.18/bcftools/vcf.o
samtools-0.1.18/bedidx.o
samtools-0.1.18/bgzf.o
samtools-0.1.18/cut_target.o
samtools-0.1.18/errmod.o
samtools-0.1.18/faidx.o
samtools-0.1.18/kaln.o
samtools-0.1.18/knetfile.o
samtools-0.1.18/kprobaln.o
samtools-0.1.18/kstring.o
samtools-0.1.18/libbam.a
samtools-0.1.18/misc/maq2sam-long
samtools-0.1.18/misc/maq2sam-short
samtools-0.1.18/misc/md5.o
samtools-0.1.18/misc/md5fa
samtools-0.1.18/misc/md5fa.o
samtools-0.1.18/misc/md5sum-lite
samtools-0.1.18/misc/md5sum-lite.o
samtools-0.1.18/misc/seqtk
samtools-0.1.18/misc/seqtk.o
samtools-0.1.18/misc/wgsim
samtools-0.1.18/misc/wgsim.o
samtools-0.1.18/phase.o
samtools-0.1.18/razf.o
samtools-0.1.18/sam.o
samtools-0.1.18/sam_header.o
samtools-0.1.18/sam_view.o
samtools-0.1.18/sample.o
samtools-0.1.18/samtools-0.1.18
